<div class="flex items-end flex-grow">
  <p class="group text-3xl mr-2 text-gray-800 font-black px-2 cursor-pointer">
    {{ name }}
  </p>
  <p class="group text-md ml-2 text-gray-500 px-2 cursor-pointer">
    About
  </p>
  <a href="/">
    <p class="group text-md ml-2 text-cyan-500 px-2 cursor-pointer">
    Neptune
    </p>
  </a>
</div>
