<footer class="flex flex-wrap my-4 text-xs text-gray-400">
  <span class="mx-2 my-1 cursor-pointer">@nickgraffis</span>
  <span class="mx-2 my-1 cursor-pointer">Write</span>
  <span class="mx-2 my-1 cursor-pointer">Create</span>
  <span class="mx-2 my-1 cursor-pointer">About</span>
  <span class="mx-2 my-1 cursor-pointer">Login</span>
  <span class="mx-2 my-1 cursor-pointer">Register</span>
  <span class="mx-2 my-1 cursor-pointer">Help</span>
</footer>
