<footer class="flex flex-wrap my-4 text-xs text-gray-400">
  <a href="https://twitter.com/nickgraffistwit" class="mx-2 my-1 cursor-pointer">@nickgraffis</a>
  <a href="https://neptuneblog.herokuapp.com/post/2" class="mx-2 my-1 cursor-pointer">About</a>
  <a href="" class="mx-2 my-1 cursor-pointer">Help</a>
</footer>
