<p style="font-family: 'Work Sans', sans-serif;" class="group text-3xl text-lime-600 font-medium px-2 cursor-pointer">
  <span class="inline-block transform duration-150 group-hover:-translate-y-1">
    Jupiter
  </span>
  <span class="border-r-2 border-lime-500"></span>
  <span class="pl-2 text-xl inline-block transform duration-150 group-hover:translate-y-1">
    {{ greeting }}
  </span>
</p>
