{{> nav bg=bg-white logo=false name=postUser.name id=postUser.id border='border-b border-gray-300'}}
<div class="w-full flex justify-center">
  <div class="lg:w-4/6 md:w-full sm:w-full px-8 md:px-8 lg:px-0 py-4">
    {{#each published}}
      {{> postcard}}
    {{/each}}
  </div>
</div>
